.all-groups-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-groups-view-container_width {
    width: var(--width-app);
    margin-top: 20px;
    border-radius: var(--cards-radius);
    background-color: var(--cards-background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.all-groups-view-container-search {
    border-radius: 0 0 3px 3px;
    padding: 35px;
}

.all-groups-view-container-search__title {
    font-size: 16px;
    font-weight: bolder;
}

/* .all-groups-view-container__search-style__value {
    margin-top: 20px;
} */

.all-groups-view-container-groups {
    display: flex;
    flex-direction: column;
}

.all-groups-view-container-groups__block {
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0;
}

.all-groups-view-container-groups__block:first-child {
    margin-top: 10px;
}

.all-groups-view-container-groups__block:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.all-groups-view-container-groups__block-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-text-color);
    padding-bottom: 2px;

    background-image: linear-gradient(var(--main-text-color), var(--main-text-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.all-groups-view-container-groups__block-link:hover {
    background-size: 100% 2px;
    color: var(--main-text-color);
}

.all-groups-view-container-groups__block-count {
    color: var(--main-grey-text-color);
    font-size: 12px;
    margin-top: 3px;
}
