{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "indent": [2, 4]
    },
    "extends": "google"
}
