.payment-component__title-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.payment-component__title-close__title {
    color: var(--main-grey-text-color);
    /* font-size: 12px; */
}

.payment-component__title-close__close-btn {
    margin-left: auto;
    background-image: url('../../../images/close_1.png');
    background-size: contain;
    height: 10px;
    width: 10px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    cursor: pointer;
    background-repeat: no-repeat;
}

.payment-component__payment-form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.payment-component {
    border-top: 1px solid var(--border-color);
    margin-top: 30px;
}

.payment-component__payment-form__summ {
    border: 1px solid var(--border-color);
    color: var(--main-grey-text-color);
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    padding: 0 5px;
    height: 30px;
    background-color: #ffffff;
}

.payment-component__payment-form__summ_margin {
    margin-top: 10px;
}

.payment-component__payment-form__summ_card-margin {
    margin-top: 5px;
}

.payment-component__payment-form__list {
    border: 1px solid var(--border-color);
    border-radius: 3px 0 0 3px;
    color: var(--main-grey-text-color);
    background-color: var(--cards-background);
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment-component__payment-form__list_flex {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.payment-component_target {
    color: var(--main-grey-text-color);
    margin-top: 15px;
    font-size: 12px;
}

.payment-component_target a {
    color: var(--main-green-color);
}

.payment-component__payment-form__list-select {
    border: 1px solid var(--border-color);
    color: var(--main-grey-text-color);
    background-color: var(--cards-background);
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
}

.payment-component__error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.payment-component__card-elems-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.payment-component__card-elems-container__card-style {
    background: #ddd;
    padding: 10px;
    border-radius: 10px;
}

.payment-component__card-symbol {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.payment-component__card-symbol__img {
    width: 30px;
}

.payment-component__card-symbol__text {
    margin-left: 10px;
    font-weight: bold;
}

.payment-component__card-arrays__title {
    color: var(--main-grey-text-color);
}

.payment-component__card-arrays__title_margin {
    margin-bottom: 15px;
}

.payment-component__title-close__close-btn_margin {
    margin-left: 10px;
}

.payment-component__add-button {
    height: 30px;
    border: 1px solid var(--border-color);
    color: var(--main-grey-text-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    width: fit-content;
}

.payment-component__add-button:focus {
    outline: none;
}

.payment-component__add-button:hover {
    border: 1px solid var(--main-light-green);
}

.payment-component__border-top {
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
}
