.group-view-container__group-memebers-conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: var(--cards-radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--cards-background);
    padding: 35px;
}

.group-view-container__group-memebers-conteiner__search-container {
    display: flex;
    flex-direction: row;
}

.margin-top__groups {
    margin-top: 20px;
}

.group-view-container__group-memebers-conteiner__buttons {
    background-size: contain;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    cursor: pointer;
    background-repeat: no-repeat;
}

.group-view-container__group-memebers-conteiner__buttons-add {
    background-image: url('../../images/adduser.png');
}

.group-view-container__group-memebers-conteiner__buttons-del {
    background-image: url('../../images/deluser.png');
}

.group-view-container__group-memebers-conteiner__members-list_person {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.group-view-container__group-memebers-conteiner__search-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.group-view-container__group-memebers-conteiner__search-empty-container__circle {
    width: 120px;
    height: 120px;
    background: #e1e1e1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-view-container__group-memebers-conteiner__search-empty-container__circle_img {
    width: 60%;
}

.group-view-container__group-memebers-conteiner__search-empty-container__text {
    color: var(--main-grey-text-color);
    margin-top: 5px;
}

.nav__settings {
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('../../images/ellipsis.svg');
    margin-left: auto;
}

.nav__settings_margin {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown-content_false {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 15px;
}

.dropdown-content_true div {
    color: var(--main-grey-text-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content_true div:hover {
    background-color: #ddd;
}

.dropdown-content_true {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 20px;
}
