.show-post-component__white-part__show-payment-container {
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
    background-color: var(--background-light-green);
}

.show-post-component__white-part__show-payment-container__title {
    font-size: 16px;
    color: var(--main-text-color);
}

.show-post-component__white-part__show-payment-container__cost {
    font-size: 16px;
    color: var(--main-text-color);
    font-weight: bolder;
}

.show-post-component__white-part__show-payment-container__button {
    background: linear-gradient(to left, var(--main-light-green), var(--main-green-color), var(--main-light-green));
    background-size: 200%;
    transition: 0.5s;


    border-radius: 3px;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--cards-background);
    padding-left: 25px;
    padding-right: 25px;
    height: 37px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.show-post-component__white-part__show-payment-container__button:hover {
    background-position: right;
}

.show-post-component__white-part__show-payment-container__requisite {
    margin: 20px 0 5px 0;
}

.show-post-component__white-part__show-payment-container__input {
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    color: var(--main-grey-text-color);
    padding: 5px;
}

.show-post-component__white-part__show-payment-container__input:focus {
    border: 1px solid var(--main-light-green);
    outline: none;
}

.show-payment-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-text-color);
}

.show-payment-white-part {
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 25px;
}

.show-payment-white-part_padding {
    padding: 25px;
}

.show-payment-white-part__select-container__select {
    border: none;
    background: none;
    margin-left: 5px;
    outline: none;
    color: var(--main-text-color);
    cursor: pointer;
}

.show-payment-white-part__select-container__text {
    display: flex;
    /* flex-direction: row; */
    color: var(--main-text-color);
}

.show-payment-white-part__select-container {
    display: flex;
    border-bottom: 1px solid var(--main-text-color);
    padding-bottom: 5px;
}

.show-payment-white-part__copy-img {
    background-size: contain;
    height: 37px;
    width: 37px;
    border: none;
    outline: none;
    background-image: url('../../../images/files-copy-interface-grey.svg');
    cursor: pointer;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.show-payment-white-part__phone {
    display: flex;
    margin-top: 15px;
    align-items: center;
    /* color: var(--main-grey-text-color); */
    color: var(--main-text-color);
}

.show-payment-white-part__input {
    border-radius: 3px;
    border: none;
    color: var(--main-grey-text-color);
    padding: 5px;
    border: 1px solid var(--border-color);
}

.show-payment-white-part__input:focus {
    border: 1px solid var(--main-light-green);
    outline: none;
}

.show-payment-white-part__input__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}
