.show-post-component {
    display:flex;
    flex-direction: column;

    margin-bottom: 20px;
    border-radius: var(--cards-radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

    background-color: var(--cards-background);
    padding: 35px;
}

.show-post-component__white-part__avatar-text {
    display: flex;
    flex-direction: row;
}

.show-post-component__white-part__avatar-text__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--background-light-green);
}

.show-post-component__white-part__avatar-text__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.show-post-component__white-part__avatar-text__text__name {
    color: var(--main-text-color);
}

.show-post-component__white-part__avatar-text__text__data {
    color: var(--main-grey-text-color);
}

.show-post-component__white-part__avatar-text__star-button_true {
    background-image: url('../../images/true-star.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    cursor: pointer;
    background-repeat: no-repeat;
}

.show-post-component__white-part__avatar-text__star-button_true:hover {
    background-image: url('../../images/false-star.svg');
}
.show-post-component__white-part__avatar-text__star-button_true-user {
    margin-left: auto;
    background-image: url('../../images/true-star.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    background-repeat: no-repeat;
}

.show-post-component__white-part__avatar-text__star-button_false {
    background-image: url('../../images/false-star.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    cursor: pointer;
    background-repeat: no-repeat;
}

.show-post-component__white-part__avatar-text__star-button_false:hover {
    background-image: url('../../images/true-star.svg');
}

.show-post-component__white-part__avatar-text__star-button_false-user {
    margin-left: auto;
    background-image: url('../../images/false-star.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--cards-background);
    background-repeat: no-repeat;
}

.show-post-component__white-part__post-text {
    margin-top: 20px;
    color: var(--main-text-color);
}

.show-post__lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.show-post__lightbox__img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: var(--cards-radius);
}

.show-post-component__white-part__avatar-text__star-button_margin {
    margin-left: auto;
}
