.header-component {
    height: 30px;
    background-color: var(--main-green-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-component__links {
    color: white;
    font-weight: bolder;
    margin-left: 20px;
}
