.login-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}

.login-view-container__card {
    background: var(--cards-background);
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.login-view-container__card__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--main-text-color);
}

.login-view-container__card__input-block__title {
    color: var(--main-grey-text-color);
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-view-container__card__input-block__input {
    height: 30px;
    border: 1px solid var(--border-color);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.login-view-container__card__input-block__input:invalid,
.login-view-container__card__input-block__input:invalid:focus {
    border: 1px solid red;
}

.login-view-container__card__input-block__input__error-input {
    height: 30px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: 1px solid red;
    outline: none;
}

.login-view-container__card__input-block__input__error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.login-view-container__card__input-block__input:focus {
    outline: none;
    border: 1px solid var(--main-light-green);
    border-radius: 3px;
}

.login-view-container__card__button {
    background: linear-gradient(to left, var(--main-light-green), var(--main-green-color), var(--main-light-green));
    background-size: 200%;
    transition: 0.5s;


    border-radius: 3px;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--cards-background);
    height: 35px;
    outline: none;
    cursor: pointer;

    margin-top: 20px;
}

.login-view-container__card__button:hover {
    background-position: right;
}

.login-view-container__card__link {
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    color: var(--main-light-green);
}

.login-view-container__card__button_margin {
    margin-top: 10px;
}

.login-view-container__card__yandex {
    width: 100%;
    background-image: url('../../images/yandex-2.svg');
    margin-top: 20px;
    height: 35px;
    cursor: pointer;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffdb4d;
    border-radius: 3px;
}

.login-view-container__form {
    display: flex;
    flex-direction: column;
}
