/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --main-green-color : #18B043;
  --main-light-green: #25EC14;
  --main-grey-text-color: #808080;
  --main-text-color: #2F2F2F;
  --border-color: #CCCCCC;
  --main-background-color: #F2F2F2;
  --background-light-green: #CDF4CA;
  --cards-background: #FFFFFF;

  --width-app: 900px;
  --cards-radius: 10px;
}

@media screen and (max-width: 1000px) {
  :root {
    --width-app: 100%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color);
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.not-a {
  text-decoration: none;
}

.ok-toast {
  background-color: #63CF82ed !important;
  color: var(--main-text-color) !important;
  padding-left: 15px !important;
  border-radius: var(--cards-radius) !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.error-toast {
  background-color: #ff9092ed !important;
  color: var(--main-text-color) !important;
  padding-left: 15px !important;
  border-radius: var(--cards-radius) !important;
}

.empty-field {
    padding: 35px;
    text-align: center;
    border-radius: var(--cards-radius);
    border: 2px dashed var(--border-color);
    color: var(--border-color);
}
