/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --main-green-color : #18B043;
  --main-light-green: #25EC14;
  --main-grey-text-color: #808080;
  --main-text-color: #2F2F2F;
  --border-color: #CCCCCC;
  --main-background-color: #F2F2F2;
  --background-light-green: #CDF4CA;
  --cards-background: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color);
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
