.group-view-banner {
    display: flex;
    justify-content: center;
}

.group-view-banner-items {
    display: flex;
    flex-direction: column;
    width: var(--width-app);
    margin-top: 20px;
    background: var(--cards-background);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: var(--cards-radius);
    overflow: hidden;
}

.group-view-banner-items__image {
    height: 200px;
    background-color: var(--background-light-green);
    border-radius: 0 0 3px 3px;
    object-fit: cover;
    border: none;
}

.group-view-banner-items-links {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    overflow-x: auto;
}

.group-view-posts-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.group-view-posts-container__create-post {
    width: var(--width-app);
}

.group-view-banner-items-info {
    margin-top: 10px;
    color: var(--main-text-color);
}

.group-view-banner-items-info__title {
    font-size: 16px;
    font-weight: bolder;
}

.group-view-banner-items-links__normal-link {
    margin-left: 20px;
    padding-bottom: 15px;
    color: var(--main-grey-text-color);
    cursor: pointer;

    background-image: linear-gradient(var(--main-light-green), var(--main-light-green));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}

.group-view-banner-items-links__active-link {
    margin-left: 20px;
    padding-bottom: 15px;
    color: var(--main-text-color);
    cursor: pointer;

    background-image: linear-gradient(var(--main-light-green), var(--main-light-green));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.group-view-banner-items-links__normal-link:hover {
    background-size: 100% 3px;
    color: var(--main-text-color);
}

.group-view-banner-items-links__normal-link:first-child {
    margin-left: 0px;
}

.group-view-banner-items-links__active-link:first-child {
    margin-left: 0px;
}

.group-view-posts-container__create-post__button-view {
    margin-bottom: 20px;
}

.group-view-banner-items-info-container {
    padding: 0 35px;
}

.group-view-banner-items-info__count {
    font-size: 13px;
}

.group-view-banner-items-info_description {
    margin-top: 15px;
}

.group-view-banner-items_flex {
    display: flex;
}

.group-view-banner-items_margin-top {
    margin-top: 10px;
}
